
@font-face {
  font-family: 'SF UI Text';
  src: url('/public/font/SFUIText-Heavy.woff2') format('woff2');      
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('/public/font/SFUIText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('/public/font/SFUIText-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'SF UI Text';
  src: url('/public/font/SFUIText-Medium.woff2') format('woff2'),;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('/public/font/SFUIText-Regular.woff2') format('woff2'),;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('/public/font/SFUIText-Light.woff2') format('woff2'),;
  font-weight: 200;
  font-style: normal;
}




