$maxWidth: 1920;

@function adaptiv-prop($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 390;
  @return calc(#{$mobSize + px} + #{$addSize} * ((100vw - 390px) / #{$maxWidth}));
}